<center>
<h1>menu</h1>
<div class="menu-container">
	
	<div class="menu-block red-border">
		<center><h2 class="green">Chicken</h2></center>
		<div ng-repeat="item in menu.chicken" class="item">
			<p ng-click="addToOrder(item)"><strong>{{ displayPrice(item.price / 100) }}</strong> - {{ item.name }} </p>	
		</div>
	</div>

	<div class="menu-block green-border">
		<center><h2>Kids Menu</h2></center>
		<div ng-repeat="item in menu.kids" class="item">
 			<p ng-click="addToOrder(item)"><strong>{{ displayPrice(item.price / 100) }}</strong> - {{ item.name }} </p>	
		</div>
	</div>

	<div class="menu-block red-border">
		<center><h2 class="green">Starters</h2></center>
		<div ng-repeat="item in menu.starters" class="item">
			<p ng-click="addToOrder(item)"><strong>{{ displayPrice(item.price / 100) }}</strong> - {{ item.name }} </p>	
		</div>
	</div>
</div>
</center>